{% extends "base.html" %}
{% block content %}
    {% if is_root %}
        <h1>{{ folder.name }}</h1>
    {% else %}
        <h1><a href = "/folder/{{ folder.root.id }}">{{ folder.name }}</a></h1>
    {% endif %}
    <p1>subfolders:<br></p1>
    <form id="folder" METHOD="post">
        {% csrf_token %}
        {% for subfolder in folders %}
            <a href = "/folder/{{ subfolder.id }}/">{{ subfolder.name }}</a><br>
        {% endfor %}
        <br>
        <input type="submit" name="rename" value="rename">
        <input type="submit" name="folder" value="create folder">
        <input type="submit" name="delete"  value="delete" onclick="return confirm('Are you sure you want delete this folder and all its contents?')">
        <input type="submit" name="copy" value="copy">
        <input type="submit" name="move" value="move">
        <select name="folder_select">
            <option selected="selected" disabled>Choose folder</option>
                {% for folder in all_folders %}
                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                {% endfor %}
            </select>
        <br>
        <br>
        <p1>bulletins:<br></p1>
        {% for bulletin in bulletins %}
            <a href = "/bulletin/{{ bulletin.id }}/">{{ bulletin.Title }}</a><br>
        {% endfor %}
        <br>
        <input type="submit" name="bulletin" value="add bulletin">
    </form>
{% endblock content %}